* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

@font-face {
    font-family: Norse-bold;
    src: url(./Norse-Bold.otf);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    position: relative;
}

.hero .cannabis{
    flex: auto;
}

.hero .credits {
    position: absolute;
    width: 100%;
    top: 97%;
    text-align: center;
    color: white;
    opacity: 80%;
}

.hero .odin {
    position: absolute;
    height: 200px;
    width: 100%;
    top: 10%;
    font-family: Norse-bold;
    text-align: center;
    background-color: rgba(43, 41, 41, 0.185);
    display: flex;
    vertical-align: center;
    justify-content: center;
}

.odin span {
    font-size: 100px;
    color: white;
    align-self: center;
}

.hero a {
    color: white;
    text-decoration: none;
}

.text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #E5E7EB;
}


.form {
    background-color: white;
    width: 100%;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input {
    width: 200px;
}

.row {
    display: flex;
}