* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-bold;
    src: url(./Norse-Bold.otf);
}

.image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 500px;
    position: relative;
}

.image .cannabis{
    flex: auto;
}

.image .credits {
    position: absolute;
    width: 100%;
    top: 97%;
    text-align: center;
    color: white;
    opacity: 80%;
}

.image .odin {
    position: absolute;
    width: 100%;
    top: 10%;
    font-family: Norse-bold;
    text-align: center;
    background-color: rgba(43, 41, 41, 0.185);
}

.odin {
    display: flex;
    vertical-align: center;
    justify-content: center;
}
.odin span {
    font-size: 100px;
    color: white;
    align-self: center;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}